/node_modules
/vendor
/public/build
/public/hot
/bootstrap/cache/*.php
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
.DS_Store
*.swp
*.swo
.vscode
.idea
