/node_modules
/vendor
/public/build
/public/hot
/public/storage
/bootstrap/cache/*.php
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
.env
.env.backup
.env.*.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
composer.phar
.DS_Store
*.swp
*.swo
.vscode
.idea
.git
.gitattributes
.github
.editorconfig
.styleci.yml
phpunit.xml
docker-compose.yml
